* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

header {
  background-color: #76323F;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: #D7CEC7;
}

#accordion {
  background-color: #D7CEC7;
}

.accordion, p {
  background-color: #D7CEC7;
}

.form-container {
  background-color: #76323F;
  padding: 20px;
}

.js-form {
  text-align: center;
}

.form-input {
  width: 20%;
  min-width: 150px;
  height: 35px;
  margin: 5px auto;
  font-family: 'Ubuntu', sans-serif;
  color: #05386B;
  font-size: 23px;
  border-radius: 10px;
}

.result-container {
  margin-top: 20px;
  background-color: #D7CEC7;
}

h1 {
  text-align: center;
  margin: 0 auto;
}

button:focus {
  outline: 0;
}

.accordion-toggle {
  background-color: #565656;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
  margin: 0 auto;
  border-style: solid;
  border-color: #D7CEC7;
  width: 80%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-toggle:hover {
  background-color: #777676;
}

.min-price {}

.accordion-content {
  background-color: #D7CEC7;
  color: #565656;
  margin: 0 auto;
  width: 76%;
}